# Unix
alias mkdir="mkdir -p"
alias e="$EDITOR"
alias v="$VISUAL"

# Configuration
dotfiles='git --git-dir=$HOME/.dotfiles/ --work-tree=$HOME'

# Pretty print the path
alias path='echo $PATH | tr -s ":" "\n"'

# Shortcuts
alias ll="ls -al"
alias ln="ln -v"
alias ls='ls -G'
alias la='ll -a'
alias 'cd..'='cd ..'
alias ne='vim'
alias htop='htop -d 3'
alias k='kubectl'

# Include custom aliases
[[ -f ~/.aliases.local ]] && source ~/.aliases.local
