# Unix
alias mkdir="mkdir -p"
alias e="$EDITOR"
alias v="$VISUAL"

# Configuration
alias dfs='dotfiles'

# Pretty print the path
alias path='echo $PATH | tr -s ":" "\n"'

# Shortcuts
alias ll="ls -al"
alias ln="ln -v"
[[ $(uname) == "Darwin" ]] && alias ls='ls -G'
[[ $(uname) == "Linux"  ]] && alias ls='ls -G --color=auto'
alias la='ll -a'
alias 'cd..'='cd ..'
alias ne='vim'
alias htop='htop -d 3'
alias k='kubectl'
alias cat='bat'
alias pytest='python -m pytest'

# Include custom aliases
[[ -f ~/.aliases.local ]] && source ~/.aliases.local
